default:
  image: python:3.11
  services:
    - name: postgres:15
      alias: db
  variables:
    POSTGRES_DB: job_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/job_db
  before_script:
    - pip install -r requirements.txt

stages:
  - test

cache:
  paths:
    - .cache/pip

alembic-check:
  stage: test
  script:
    - alembic check

pytest:
   stage: test
   needs: ["alembic-check"]
   script:
     - pytest --cov=app --cov-report=xml
   artifacts:
     reports:
       coverage_report:
         coverage_format: cobertura
         path: coverage.xml

Check formatting:
  stage: test
  script:
    - black --check app tests

Check imports:
  stage: test
  script:
    - isort --check-only app tests

Lint with flake8:
  stage: test
  script:
    - flake8 app tests
